# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project data
data/bronze/
data/silver/
data/gold/

# Logs
*.log

# Airflow
airflow/logs/
airflow/airflow.db/